In [1]:
import data_cleaning as dc
import pandas as pd

In [2]:
data_path = '../../../liss-data/data/xyx-corona-questionnaire/' + \
    'L_Coronavirus_impact_23032020_4p.sav'

data = pd.read_spss(data_path)

description = dc._load_description(
    "covid19_data_description.csv", "xyx-corona-questionnaire.dta")

In [3]:
dc.check_description(
    data=data, data_name="xyx-corona-questionnaire.dta", 
    description=description, logging="print")

The following variables from the raw dataset are not covered by the description table:
	DatumB
	DatumE
	TijdB
	TijdE
	aantalhh
	aantalki
	belbezig
	brutocat
	brutohh_f
	brutoink
	brutoink_f
	burgstat
	duur
	eva2t1
	eva2t2
	eva2t3
	eva2t4
	eva2t5
	evaopm
	geslacht
	leeftijd
	lftdcat
	lftdhhh
	maandnr
	netinc
	nettocat
	nettohh_f
	nettoink
	nettoink_f
	nohouse_encr
	oplcat
	oplmet
	oplzon
	opm
	partner
	positie
	q11__7
	q12__8
	q14a
	q14b
	q14c
	q14d
	q15__6
	q16__5
	q17__4
	q23__10
	q25a
	q25b
	q26a
	q26b
	q26c
	q26d
	q29__999
	q29and
	q32
	q34a
	q34b
	sted
	woning
	woonvorm




The following variables from the description table are not in the raw dataset:
	False
	True
	eva2h
	nan
	note
	q25open
	q29__7
	v1
	v2a
	v2b
	v2c
	v2d
	v2e
	v2f
	v3
	v4
	v5a
	v5c
	v5d
	v5e
	v5f
	v61
	v62
	v63
	v64

# Look at snapshot

In [4]:
data = pd.read_pickle('../../../liss-data/bld/out/data/corona.pickle')

data.head()

,,p_infected,p_acquaintance_infected,p_hospital_if_infect_self,p_quarantaine,p_infected_and_pass_on,p_hospital_healthy_30,p_die_healthy_30,p_hospital_healthy_75,p_die_healthy_75,p_hospital_healthy_5,...,concern_new_job,concern_food,concern_health_care,concern_fav_shop_bancrupt,date_period,infected,acquaintance_infected,hospital_if_infect_self,quarantaine,infected_and_pass_on
personal_id,year,,,,,,,,,,,,,,,,,,,,,
800100,2018,very likely,very likely,very likely,moderately likely,moderately likely,NaN,NaN,NaN,very likely,very likely,...,<NA>,1,1,1,201803,False,False,False,False,False
800131,2018,rather unlikely,rather likely,very likely,very likely,rather unlikely,rather unlikely,rather unlikely,NaN,NaN,very unlikely,...,<NA>,1,1,1,201803,False,False,False,False,False
800161,2018,rather unlikely,rather unlikely,rather unlikely,rather unlikely,rather likely,rather unlikely,very unlikely,rather unlikely,very unlikely,very unlikely,...,<NA>,1,2,3,201803,False,False,False,False,False
800170,2018,rather likely,rather likely,rather unlikely,rather likely,moderately likely,very unlikely,very unlikely,rather likely,NaN,rather likely,...,<NA>,1,1,1,201803,False,False,False,False,False
800186,2018,moderately likely,moderately likely,moderately likely,rather unlikely,rather unlikely,rather unlikely,rather unlikely,NaN,rather likely,rather unlikely,...,<NA>,2,4,1,201803,False,False,False,False,False

# Load Meta Data from .sav

In [13]:
import pyreadstat

In [21]:
df, meta = pyreadstat.read_sav(
    "../../../liss-data/data/xyx-corona-questionnaire/" + 
    "L_coronavirus_maart20_13maart__HM.sav")

In [22]:
generated_description = pd.Series(
    meta.column_names_to_labels)

generated_description.index.name = "xyx-corona-questionnaire"
generated_description.name = "orig_labels_dutch"
generated_description = generated_description.to_frame()
generated_description["orig_labels_dutch"] = \
    generated_description["orig_labels_dutch"].astype(str)

In [35]:
from googletrans import Translator
t = Translator()

# generated_description["orig_labels_translated"] = \
#     generated_description["orig_labels_dutch"].apply(
#         lambda x: t.translate(x).text)

In [37]:
description[description["topic_english"] == "Background Variables"]

,gesis,xyx-corona-questionnaire.dta,new_name,topic_english,group,label_english,type,categories_english,ordered
72,True,False,labor_status_gesis,Background Variables,Background Variables,Which of the following options describes your ...,Categorical,"employed, self-emplyed, marginally employed, u...",False
73,False,q13,labor_status_liss,Background Variables,Background Variables,Which of the following options describes your ...,Categorical,"employed, self-emplyed, unemployed, retired, s...",False
94,True,NaN,has_children,Background Variables,Background Variables,Are there children below 12 years of age in yo...,boolean,NaN,NaN
95,False,q22,nr_children,Background Variables,Background Variables,How many children under 12 are in your household?,Int64,NaN,NaN

In [36]:
# delimit with semi colon
csv = pd.read_csv('covid19_data_description.csv', sep=";")
# csv.to_csv('covid19_data_description.csv', sep=';')

In [25]:
pd.options.display.max_rows = 300

In [6]:
to_handle = description[
        (description["type"] == "Categorical") & 
        (description["xyx-corona-questionnaire.dta"].notnull()) & 
        (description["xyx-corona-questionnaire.dta"] != False)
    ][["new_name", "type", "ordered", "categories_english"]]

In [7]:
to_handle.loc[149:]

,new_name,type,ordered,categories_english
150,duration_restrictions,Categorical,True,"until April 6, btw. April 6 and 2 months, btw...."
193,contact_workers,Categorical,NaN,"Never, once a week, several times a week, ever..."
195,health_skills,Categorical,NaN,"No unable, no lacking skills, medical training..."
196,prepared_to_help,Categorical,NaN,"0 not prepared at all, 1, 2, 3, 4, 5, 6, 7, 8,..."
228,nervous,Categorical,True,"never, rarely, sometimes, often, mostly, const..."
229,depressed,Categorical,True,"never, rarely, sometimes, often, mostly, const..."
230,calm,Categorical,True,"never, rarely, sometimes, often, mostly, const..."
231,gloomy,Categorical,True,"never, rarely, sometimes, often, mostly, const..."
232,happy,Categorical,True,"never, rarely, sometimes, often, mostly, const..."
234,concern_bored,Categorical,True,"1 not concerned at all, 2, 3, 4, 5 very concerned"
235,concern_serious_ill,Categorical,True,"2 not concerned at all, 2, 3, 4, 5 very concerned"
236,concern_infect_others,Categorical,True,"3 not concerned at all, 2, 3, 4, 5 very concerned"
237,concern_loved_ill,Categorical,True,"4 not concerned at all, 2, 3, 4, 5 very concerned"
238,concern_unemp,Categorical,True,"5 not concerned at all, 2, 3, 4, 5 very concerned"
239,concern_company,Categorical,True,"6 not concerned at all, 2, 3, 4, 5 very concerned"
240,concern_new_job,Categorical,True,"7 not concerned at all, 2, 3, 4, 5 very concerned"
241,concern_food,Categorical,True,"8 not concerned at all, 2, 3, 4, 5 very concerned"
242,concern_health_care,Categorical,True,"9 not concerned at all, 2, 3, 4, 5 very concerned"
243,concern_fav_shop_bancrupt,Categorical,True,"10 not concerned at all, 2, 3, 4, 5 very conce..."
245,duration_econ_crisis,Categorical,True,"less than 1 month, 1 to 3 months, 3 to 6 month..."
246,p_job_loss_empl,Categorical,True,"very unlikely, unlikely, probably, very likely"
247,p_job_loss_selfempl,Categorical,True,"very unlikely, unlikely, probably, very likely"
248,p_shorten_pension,Categorical,True,"very unlikely, unlikely, probably, very likely"
249,p_drop_in_assets,Categorical,True,"very unlikely, unlikely, probably, very likely"
250,p_bank_bancrupt,Categorical,True,"very unlikely, unlikely, probably, very likely"
251,p_struggle_debts,Categorical,True,"very unlikely, unlikely, probably, very likely"
253,exp_house_prices_direction,Categorical,True,"House prices will be lower, House prices will ..."
254,exp_house_prices_percent,Categorical,True,"less than 2%, 2% to 5%, 5% to 10%, 10% to 20%,..."
255,exp_spend_less,Categorical,True,"0 totally disagree, 1, 2, 3, 4, 5, 6, 7, 8, 9,..."
256,exp_work_more,Categorical,True,"1 totally disagree, 1, 2, 3, 4, 5, 6, 7, 8, 9,..."
257,exp_work_less,Categorical,True,"2 totally disagree, 1, 2, 3, 4, 5, 6, 7, 8, 9,..."
258,exp_borrow,Categorical,True,"3 totally disagree, 1, 2, 3, 4, 5, 6, 7, 8, 9,..."
259,exp_postpone_house,Categorical,True,"4 totally disagree, 1, 2, 3, 4, 5, 6, 7, 8, 9,..."
261,gov_action_approp,Categorical,True,"totally disagree, disagree, neutral, agree, to..."
262,gov_action_insuff,Categorical,True,"totally disagree, disagree, neutral, agree, to..."
263,save_banks,Categorical,True,"totally disagree, disagree, neutral, agree, to..."
264,help_pension_funds,Categorical,True,"totally disagree, disagree, neutral, agree, to..."

In [46]:
vc = description["group"].value_counts()
len(vc[vc > 1])

31

In [44]:
vc

Work Adjustments                                 17
Reasons for Disobeying a Curfew                  14
Reasons for Compliance with Curfew               12
Childcare Adjustments                            10
????                                             10
Media Diet                                       10
Social Distancing                                 8
Economic Adjustments                              7
Economic Coping Strategies                        7
Subjective Effectiveness of Policies              7
Appropriateness of Policies                       6
Probabilities of Economic Repercussions           6
Support for Policies                              6
Subjective Risk of Getting or Spreading           5
Subjective Risk of Death                          5
Trust in Health System                            5
Future Employment State                           5
Use of One-Time Allowance                         5
Economic Adjustments II                           5
Subjective Effectiveness of Social Distancing     5
Subjective Effectiveness of Health Behaviors      5
Reasons for Stop Working                          5
Trust in Government                               5
Subjective Risk of Hospitalization                5
Mood in the Last Week                             5
Economic Concerns                                 5
Facebook Usage                                    4
Reasons for Working Less                          4
Working Hours                                     4
Health Concerns                                   4
Background Variables                              3
Contact with the Elderly                          1
Compliance with Curfew                            1
Probability of Severe Financial Distress          1
Contact with Workers or Students                  1
Expected Duration of Restrictions                 1
Duration of the Economic Crisis                   1
Name: group, dtype: int64